#container {
width: 100%;
height: 100%; 
background-color: rgb(220, 95, 0);    
display: flex;
justify-content: center;
align-items: center;
}


#inner {
color:white;
align-items: center;
text-align: center;
margin: 0 20px 0 20px;


}

.button {
    margin-top:40px;
}

a {
    background-color: rgb(62, 186, 0);
    padding:10px 10px 10px 10px;
    border-radius:5px;
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: rgb(255, 219, 16);
}

/* Scratcher */

#bridge {
    z-index:99;
    left: 0;
	display: block;
	margin: 0 auto;
   /* bg images
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/calgary-bridge-1943.jpg');
	background-image: -webkit-image-set(url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/calgary-bridge-1943.jpg') 1x, url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/calgary-bridge-1943-2x.jpg') 2x );
	background-size: cover;*/
    width: 100%;
max-width:300px;
	height: auto;
  cursor:  crosshair;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}
#bridgeContainer { 
  text-align: center;
  font-family: Avenir, sans-serif;
 
}
 #bridgeContainer figcaption {   
  margin-top: 2rem; 
}

#bridge,#gift {
position:fixed;
top:50%;
left:50%;
transform: translate(-50%, -50%);

}

#gift {
    z-index: 1;
}

#prompt {
    position: fixed;
    top:70%;
    left:25%;
 
    

}